@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light: #44bef1;
  --primary: #24a3d8;
  --primary-dark: #323946;
  --light-gray: #666666;
  --extra-light-gray: #999999;
}

html {
  font-size: 93.75%;
}

@layer base {
  .text-primary {
    color: var(--primary);
  }

  .text-primary-dark {
    color: var(--primary-dark);
  }

  .text-light-gray {
    color: var(--light-gray);
  }

  .text-extra-light-gray {
    color: var(--extra-light-gray);
  }

  .bg-primary {
    background-color: var(--primary);
  }

  .bg-primary-dark {
    background-color: var(--primary-dark);
  }

  .border-primary {
    border-color: var(--primary);
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .btn {
    @apply px-8 py-3 rounded-md transition-all duration-300 min-w-[160px];
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-white  hover:text-primary;
  }

  .btn-secondary {
    @apply bg-transparent text-black border-2 border-gray-400 hover:bg-primary hover:text-white hover:border-primary;
  }
}
