@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .text-primary {
    color: #44bef1;
  }

  .bg-primary {
    background-color: #44bef1;
  }

  .text-primary-dark {
    color: #323946;
  }

  .bg-primary-dark {
    background-color: #323946;
  }
}

